.root {
  -fx-background-color: linear-gradient(to bottom, cornsilk, wheat);
  -fx-padding: 12;
  -fx-background-insets: 5;
  -fx-effect: dropshadow(three-pass-box, wheat, 10, 0, 0, 0);
}
 
#face {
  -fx-fill: radial-gradient(radius 180%, burlywood, derive(burlywood, -30%), derive(burlywood, 30%));
  -fx-stroke: derive(burlywood, -45%);
  -fx-stroke-width: 5;
  -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 4, 4);
}
 
#brand {
  -fx-font-size: 14px;
}
 
#hourHand {
  -fx-stroke: darkslategray;
  -fx-stroke-width: 4;
  -fx-stroke-line-cap: round;
}
 
#minuteHand {
  -fx-stroke: derive(darkslategray, -5%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}
 
#secondHand {
  -fx-stroke: derive(firebrick, -15%);
  -fx-stroke-width: 2;
  -fx-stroke-line-cap: round;
}
 
#spindle {
  -fx-fill: derive(darkslategray, +5%);
}
 
#digitalClock {
  -fx-font-size: 14px;
  -fx-font-family: 'Courier New';
}
 
.tick {
  -fx-stroke: derive(darkgoldenrod, -15%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}